<a href="https://colab.research.google.com/github/Harlequelrah/Learning_data_analysis/blob/main/Learning_data_analysis/realisez-une-analyse-exploratoire-de-donnees/Partie_2/1_Comprenez_l'enjeu_de_l'analyse_en_composantes_principales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Objectifs de l'ACP

L'ACP a pour but d'analyser :

- La variabilité entre les individus
- Les liasions entre les variables


## Projection mathématique
C'est représenter des points à p dimensions dans un espace à q dimensions avec q < p .
La projection fait perdre de l'information . L'enjeu est de trouver une projection qui permet de perdre le moins d'information possible .

**note** : des points très étalées ont une grande inertie .

`La clé de l'ACP est de trouver une projection pour laquelle l'inertie des points est maximale.`

## Principe de l'ACP
On recherche les principaux axes d'inertie qui peuvent être vus comme de nouvelles variables.Ils sont aussi la combinaison linéaires des variables initiales.

## Centrage et Reduction
Pour harmoniser dans le cas ou des échantillons ont valeurs de variables dans différentes unités par exemple on fait de sortent que leurs moyennes soient égales et leurs variance aussi.

Classiquement on essaye d'avoir les moyennenes à 0 (centrage) et les variances à 1 (réduction).

### Centrage

On soutire à toutes les observations leurs moyenne.La moyenne des observations centrées vaut alors 0.

### Réduction
Après avoir centré on divise les observations par leurs ecart-type.La variance des observations après réduction vaut alors 1.


Soit la matrice X , $X_{RC}$ la matrice X centrée et réduite , $S_X$ son ecart-type et $\bar{X}$ sa moyenne.

$X_{RC} = \frac{X-\bar{X}}{S_X}$

## Pratique

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
# Permet de standariser les données (centrer et réduire)

In [2]:
# Matrice de base :

X = [[12,30,80,-100],
    [-1000,12,-23,10],
    [14,1000,0,0]]

# Version numpy
# X = np.asarrary(X)

# Version pandas:
X = pd.DataFrame(X)

In [4]:
X.describe()

                 0            1          2           3
count     3.000000     3.000000   3.000000    3.000000
mean   -324.666667   347.333333  19.000000  -30.000000
std     584.856678   565.297562  54.064776   60.827625
min   -1000.000000    12.000000 -23.000000 -100.000000
25%    -494.000000    21.000000 -11.500000  -50.000000
50%      12.000000    30.000000   0.000000    0.000000
75%      13.000000   515.000000  40.000000    5.000000
max      14.000000  1000.000000  80.000000   10.000000

In [7]:
# Instanciation du scaler :
scaler = StandardScaler()

# On le fit (il apprend les paramètres nécessaires à la transformation):
# scaler.fit(X)

# On l'entraine (transformation des données) :
# X_scaled = scaler.transform(X)

X_scaled = scaler.fit_transform(X)

# On le transforme en dataframe :
X_scaled = pd.DataFrame(X_scaled)

# On peut appliquer .describe() et .round()
X_scaled.describe().round(2)

          0     1     2     3
count  3.00  3.00  3.00  3.00
mean   0.00  0.00  0.00  0.00
std    1.22  1.22  1.22  1.22
min   -1.41 -0.73 -0.95 -1.41
25%   -0.35 -0.71 -0.69 -0.40
50%    0.71 -0.69 -0.43  0.60
75%    0.71  0.36  0.48  0.70
max    0.71  1.41  1.38  0.81